/**
 * @file
 * MMS plugin for CKEditor.
 */

div.mms {
  margin-top: 2em;
  border-top: 5px solid #aaf;
  border-right: 5px solid #aaf;
  border-top-right-radius: 13px;
}
div.mms::before {
  position: relative;
  top: -.5em;
  background-color: #aaf;
  color: #fff;
  content: "  MMS  ";
  font-weight: bold;
}
div.mms-lang {
  margin: 0 .5em 1em 0;
  padding-left: .5em;
  border-left: 1px dotted #aaf;
  border-bottom: 1px dotted #aaf;
  border-bottom-left-radius: 8px;
}
p.mms {
  float: right;
  margin: -3em .5em 0;
  color: #aaf;
  font-size: .85em;
  font-style: italic;
  font-weight: bold;
}
