/**
 * @file
 * MMS widget.
 */

#mms-view {
  position: fixed;
  right: 0;
  bottom: 50px;
  margin: .5em 1em;
  border-radius: .5em;
  box-shadow: .5em .5em .3em #888;
  background-color: #cfc;
  padding: .5em;
  cursor: pointer;
}
#mms-view.mms-raw{
  background-color: #fcc;
}
.mms-link,
.mms-do {
  margin-left: .5em !important;
}
.mms-notice {
  margin-left: .5em !important;
  padding: 0 .5em !important;
  background-color: #aaf !important;
  color: #fff !important;
  font-weight: lighter !important;
}

/**
 * Show
 */
.mms-show {
  background-color: #fff;
  overflow: auto;
}
.mms-lang {
  border: 2px solid #fff;
  border-radius: 6px;
  background-color: #aaf;
  font-weight: bold;
}
.mms-lang,
.mms-text {
  display: inline;
  padding: 0 2px;
  cursor: pointer;
}
.mms-curlang {
  color: #fff;
}
.mms-deflang {
  text-transform: uppercase;
}
.mms-sellang {
  border-color: #666;
}

/**
 * Input
 */
.mms-entry {
  display: none;
  position: absolute;
  z-index: 1000;
}
.mms-entry th {
  /* must accept something like "en, br" */
  width: 2.5em;
}
.mms-entry td {
  border-bottom: 1px dotted #ccc;
  background-color: #fff;
  vertical-align: middle;
}
.mms-entry textarea {
  width: 100%;
}
.mms-entry textarea:focus {
  background-color: #cfc;
}

/**
 * Dialog
 */
#mms-cache {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #444;
  opacity: .7;
}
#mms-dialog {
  display: none;
  position: absolute;
  border: 1px solid #000;
  border-radius: 5px;
  box-shadow: 8px 8px 5px #222;
  background-color: #fff;
  padding: 1.5em;
}
#mms-dialog .content {
  padding: .5em;
  background-color: #ddd;
  font-weight: bold;
}
#mms-dialog label {
  font-weight: normal;
}
